@import "tailwindcss";

@theme {
    --font-sans: "Plus Jakarta Sans", sans-serif;
    --font-mono: "Crimson Text", monospace;

    --color-light: var(--color-stone-100);
    --color-dark: #2C1810;
    /*--color-primary: #D4AF37;*/
    --color-primary: #5C4033;
    /*--color-secondary: #E8B4B8;*/
    --color-secondary: #F8F2E4;
    --color-accent: #DE7C5A;

    --radius-xs: 0.15rem;
}

@layer utilities {
    .grid-rows-page {
        grid-template-rows: auto 1fr auto;
    }

    .bg-brand-1 {
        background: 
            linear-gradient(to bottom right, --alpha(var(--color-accent) / 80%), --alpha(var(--color-primary) / 80%)),
            url("/static/assets/bg_repeat_1.png") 0/auto 100% repeat;
        background-repeat: no-repeat, repeat;
        background-size: cover, auto 100%;
    }
    .bg-brand-1-lg {
        background:
            url("/static/assets/bg_repeat_1.png") 0/10rem repeat;
    }
    .bg-paper {
        background: url("/static/assets/bg_texture.webp") 1/100% auto repeat, linear-gradient(to bottom, var(--color-secondary), var(--color-secondary));
        background-blend-mode: luminosity, color;
    }
}

@base {
    @apply bg-stone-200;
}
