@import "tailwindcss";

@theme {
    --font-sans: "Plus Jakarta Sans", sans-serif;
    --font-mono: "Crimson Text", monospace;

    --color-light: var(--color-stone-100);
    --color-dark: #2C1810;
    --color-primary: #D4AF37;
    --color-secondary: #E8B4B8;
}

@layer utilities {
    .grid-rows-page {
        grid-template-rows: auto 1fr auto;
    }
}

@base {
    @apply bg-stone-200;
}
