package dashboard

import "github.com/vladwithcode/salon_catalog/internal/templates"
import "github.com/vladwithcode/salon_catalog/internal/templates/components/dashboard"

templ Dashboard() {
@templates.AdminLayout("Panel de Administración", "") {
    @dashboard.QuickActions()
}
}
