package dashboard

import "github.com/vladwithcode/salon_catalog/internal/templates"

templ Dashboard() {
@templates.AdminLayout("Panel de Administración", "") {
<h1 class="text-4xl font-bold tracking-tight">Dashboard</h1>
}
}
