package dashboard

import (
	"github.com/vladwithcode/salon_catalog/internal/templates"
	"github.com/vladwithcode/salon_catalog/internal/templates/components"
)

templ Images() {
	<script src="/static/js/popup.js" defer></script>
	@imagesScript()
	@templates.AdminLayout("Imágenes| Villa Chenacolo", "Administración de Imágenes") {
		<div class="flex-1 flex flex-col overflow-hidden space-y-4 px-0.5" hx-ext="response-targets">
			<div class="px-2">
				<div class="flex gap-4 pb-2">
					<div class="space-y-0.5">
						<h2 class="text-3xl tracking-tight">Imágenes</h2>
						<p class="text-xs text-current/50">Agrega, modifica y elimina imágenes de tu catálogo.</p>
					</div>
					<button
						id="images-actions-toggle"
						class="shrink flex items-center justify-center text-current/80 xl:hidden"
						data-click-handler-selector="images-actions-toggle"
					>
						@components.BarsIcon("w-8", nil)
					</button>
				</div>
				<div id="images-actions-container" class="overflow-hidden h-0" data-images-actions="closed">
					<div class="py-2 border-t border-primary/70">
						<h4 class="text-lg font-medium text-gray-700 mb-2">Acciones</h4>
						<ul class="flex flex-col items-center gap-2">
							<li class="w-full">
								<button
									id="images-actions-new"
									hx-get="/imagenes/subir"
									hx-target="#images-modal"
									hx-indicator="#global-loading-indicator"
									class="w-full flex items-center justify-center gap-4 px-4 py-3 text-sm bg-gray-700 text-stone-50 font-medium rounded-lg focus:outline-accent"
								>
									@components.PlusIcon("w-5", nil)
									Subir Imagenes
								</button>
							</li>
							<li class="w-full">
								<button
									id="images-multi-selection-delete"
                                    data-images-multi-action="delete"
									hx-delete="/imagenes"
									hx-target="#images-table"
									hx-confirm="¿Eliminar las imágenes seleccionadas?"
									hx-indicator="#images-table-loading"
									hx-include='[name="image-table-selection"]'
									class="w-full flex items-center justify-center gap-4 px-4 py-3 text-sm bg-red-500 text-stone-50 font-medium rounded-lg transition-[background,_filter] duration-300 focus:outline-accent disabled:bg-red-500/80 disabled:cursor-not-allowed disabled:brightness-80"
									disabled
								>
									@components.BinIcon("w-5", nil)
									Eliminar Selección
								</button>
							</li>
						</ul>
						<!-- Filters -->
						<form
							hx-get="/imagenes/table"
							hx-trigger="input changed delay:500ms"
							hx-target="#images-table"
							hx-indicator="#images-table-loading"
							hx-include='[name="sort"]'
							class="shrink grow-0 basis-auto pt-2 space-y-1"
						>
							<h3 class="font-light text-gray-700/70">Filtrar Imágenes</h3>
							<div class="flex items-center gap-0.5">
								<div class="h-full flex-1 basis-2/3 space-y-1">
									<label for="name" class="block text-sm font-medium text-gray-700">Nombre de Imágen</label>
									<input
										id="name"
										name="name"
										class="block w-full px-4 py-2 border border-gray-200 rounded-xs leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-accent focus:border-accent"
										type="text"
									/>
								</div>
								<div class="h-full flex-1 basis-1/3 space-y-1">
									<label for="date" class="block text-sm font-medium text-gray-700">Fecha</label>
									<input
										id="date"
										name="date"
										class="block w-full px-4 py-2 border border-gray-200 rounded-xs leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-accent focus:border-accent"
										type="date"
									/>
								</div>
							</div>
							<div class="flex items-center justify-end pt-1">
								<button
									type="button"
									class="text-sm text-gray-700 font-bold tracking-wide"
									hx-get="/imagenes/table"
									hx-target="#images-table"
									data-click-handler-selector="[data-images-filter-clear]"
									data-images-filter-clear
								>
									Limpiar Filtros
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<main class="flex-1 overflow-hidden">
				<div class="h-full flex flex-col rounded-xs bg-white shadow-sm overflow-auto scroll-smooth pb-11" data-images-table-scroll>
					<div
						class="sticky inset-x-0 top-0 z-20 bg-white flex items-center justify-between gap-3 p-2 border border-gray-100 rounded-sm shadow-sm"
					>
						// Button modes: all, none, some
						<style>
                            [data-multi-selection-mode="all"] [data-multi-selection-mode-display="all"] {
                                opacity: 1;
                            }
                            [data-multi-selection-mode="none"] [data-multi-selection-mode-display="none"] {
                                opacity: 1;
                            }
                            [data-multi-selection-mode="some"] [data-multi-selection-mode-display="some"] {
                                opacity: 1;
                            }
                            [data-multi-selection-mode-display] {
                                transition: opacity 0.1s linear;
                            }
                        </style>
						<button
							id="images-table-multi-selection-ctl"
							type="button"
							class="shrink-0 grow-0 basis-5 aspect-square grid grid-cols-1 grid-rows-1"
							data-click-handler-selector="#images-table-multi-selection-ctl"
							data-multi-selection-mode="all"
						>
							<div
								class="col-start-1 row-start-1 w-full h-full border border-gray-300 rounded-xs"
								data-multi-selection-mode-display="all"
							></div>
							<div
								class="col-start-1 row-start-1 w-full h-full flex items-center justify-center border border-blue-400 bg-blue-500 rounded-xs opacity-0"
								data-multi-selection-mode-display="none"
							>
								@components.CheckIcon("w-full text-gray-50", nil)
							</div>
							<div
								class="col-start-1 row-start-1 w-full h-full flex items-center justify-center border border-blue-400 bg-blue-500 rounded-xs opacity-0"
								data-multi-selection-mode-display="some"
							>
								<div class="w-3/4 h-0.5 bg-stone-50 rounded-xs"></div>
							</div>
						</button>
						<h4 class="flex-1 basis-full text-gray-900">
							Imágenes
							<span id="images-table-count" hx-swap-oob>(0/0)</span>
						</h4>
						<select
							hx-get="/imagenes/table"
							hx-trigger="change"
							hx-target="#images-table"
							hx-indicator="#images-table-loading"
							hx-include='[name="name"], [name="date"]'
							name="sort"
							id="sort"
							class="block px-1 py-0.5 border border-gray-200 rounded-xs"
						>
							<option value="name_asc">A-Z &uarr;</option>
							<option value="name_desc">A-Z &darr;</option>
							<option value="date_asc">Fecha &uarr;</option>
							<option value="date_desc">Fecha &darr;</option>
							<option value="size_asc">Tamaño &uarr;</option>
							<option value="size_desc">Tamaño &darr;</option>
						</select>
					</div>
					<div class="flex-1 grid grid-cols-1 grid-rows-1">
						<div class="static h-full col-start-1 row-start-1 pointer-events-none z-10">
							<div
								id="images-table-loading"
								class="h-full max-h-[60vh] bg-white p-8 text-center inset-0 flex flex-col items-center justify-center loading-table-indicator"
							>
								@components.LoadingIcon("h-12 text-primary mx-auto", nil)
								<p class="mt-2 text-gray-500">Cargando imágenes...</p>
							</div>
						</div>
						<div
							class="static col-start-1 row-start-1 z-0 h-0 opacity-0 -mt-px"
							data-images-table-container="expanded"
						>
							<div
								id="images-table"
								hx-get="/imagenes/table"
								hx-include='[name="name"], [name="date"], [name="sort"]'
								hx-target-5xx="this"
								hx-target-4xx="this"
								hx-trigger="load"
								hx-indicator="#images-table-loading"
							></div>
						</div>
					</div>
					<div
						class="fixed inset-x-1.5 bottom-1.5 z-20 bg-white border border-gray-100 rounded-sm shadow-sm"
						id="images-table-pagination"
					></div>
				</div>
			</main>
		</div>
		<div id="images-modal-container" class="fixed inset-0 w-screen z-40 flex flex-col justify-center items-center overflow-hidden opacity-0 pointer-events-none">
			<div
				id="images-modal-backdrop"
				class="absolute h-full w-full z-0 bg-dark/30"
				data-images-modal-toggle="close"
				data-click-handler-selector="[data-images-modal-toggle]"
			></div>
			<div
				id="images-modal"
				class="relative w-full p-2 overflow-hidden z-20 translate-y-12 opacity-0"
				data-images-modal="closed"
			></div>
		</div>
	}
}

templ imagesScript() {
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
	<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Register gsap plugins
        gsap.registerPlugin(window.ScrollTrigger);

        const toggleActionsTl = gsap.timeline({paused: true, defaults: {duration: 0.3, ease: 'power2.out'}});
        toggleActionsTl.fromTo('#images-actions-container', {opacity: 0, height: '0px'}, {opacity: 1, height: 'auto'});

        const modalTl = gsap.timeline({paused: true, defaults: {duration: 0.5, ease: 'power3.out'}});
        modalTl.set('#images-modal-container', {
            pointerEvents: 'auto',
        }).to('#images-modal-container', {
            opacity: 1,
            duration: 0.2,
        }).to('#images-modal', {
            opacity: 1,
            y: '0rem',
        }, "-=0.1");

        eventManager
            .register('beforeRequest', '#images-table', function (e) {
                gsap.set('[data-images-table-container]', { pointerEvents: 'none' });
                gsap.to(
                    '[data-images-table-container]', 
                    { height: '0rem', opacity: 0, },
                )
                gsap.to(
                    '[data-images-table-img]', 
                    { y: '0rem', opacity: 1, stagger: 0.05, },
                    { y: '10rem', opacity: 0, stagger: 0.05, },
                );
            })
            .register('configRequest', '[data-images-multi-action]', function (e) {
                const ids = e.detail.parameters.getAll('image-table-selection');
                for (const id of ids) {
                    e.detail.parameters.append('ids', id);
                }

                e.detail.parameters.delete('image-table-selection');
            })
            .register('afterSwap', '#images-table', function (e) {
                gsap.to(
                    '[data-images-table-container]', 
                    { height: 'auto', opacity: 1, duration: 0.5, ease: 'power2.out' },
                )
                gsap.fromTo(
                    '[data-images-table-img]', 
                    { y: '1rem', opacity: 0, duration: 0.3, stagger: 0.05, ease: 'power2.out' },
                    { y: '0rem', opacity: 1 },
                    "<",
                );
                gsap.set('[data-images-table-container]', { pointerEvents: 'auto' });

                // Scroll to top of table
                const tableScroll = e.detail.target.closest('[data-images-table-scroll]');
                if (tableScroll) {
                    tableScroll.scrollTo(0, 0);
                }

                // Close modal if open
                const modal = document.getElementById('images-modal');
                if (modal.dataset.imagesModal === 'open') {
                    modalTl.reverse();
                    modal.dataset.imagesModal = 'closed';
                }

                updateImagesTableSelection();

                const uploadForm = document.getElementById('new-image-form');
                if (uploadForm) {
                    uploadForm.reset();
                }
            })
            .register('afterSwap', '#images-modal', function (e) {
                if (e.detail.elt.dataset.imagesModal === 'closed') {
                    modalTl.play();
                    e.detail.elt.dataset.imagesModal = 'open';
                }
            })
            .registerClick('images-actions-toggle', function (e) {
                const actionsContainer = document.getElementById('images-actions-container')
                if (actionsContainer.dataset.imagesActions === 'open') {
                    toggleActionsTl.reverse();
                    actionsContainer.dataset.imagesActions = 'closed';
                } else {
                    toggleActionsTl.play();
                    actionsContainer.dataset.imagesActions = 'open';
                }
            })
            .registerClick('[data-images-modal-toggle]', function (e) {
                const target = e.target.matches('[data-images-modal-toggle]')
                    ? e.target
                    : e.target.closest('[data-images-modal-toggle]');
                const modal = document.getElementById('images-modal');

                const force = target.dataset.imagesModalToggle
                const shouldClose = (force === 'close') || (!force && modal.dataset.imagesModal === 'open');
                if (shouldClose) {
                    modalTl.reverse();
                    modal.dataset.imagesModal = 'closed';
                } else {
                    modalTl.play();
                    modal.dataset.imagesModal = 'open';
                }
            })
            .registerClick('[data-images-filter-clear]', function (e) {
                clearImagesTableFilters();
            })
            .registerClick('#images-table-multi-selection-ctl', function (e) {
                const target = e.target.matches('[data-multi-selection-mode]')
                    ? e.target
                    : e.target.closest('[data-multi-selection-mode]');
                    
                const mode = target.dataset.multiSelectionMode;
                switch (mode) {
                    case 'none':
                        document.querySelectorAll('[name="image-table-selection"]').forEach(function (img) {
                            img.checked = false;
                        });
                        updateImagesTableSelection();
                        break;
                    case 'some':
                        document.querySelectorAll('[name="image-table-selection"]:checked').forEach(function (img) {
                            img.checked = false;
                        });
                        updateImagesTableSelection();
                        break;
                    case 'all':
                    default:
                        document.querySelectorAll('[name="image-table-selection"]').forEach(function (img) {
                            img.checked = true;
                        });
                        updateImagesTableSelection();
                        break;
                }
            });

        document.addEventListener('input', function (e) {
            if (!e.target.matches('[name="image-table-selection"]')) {
                return;
            }
            updateImagesTableSelection();
        });

        function updateImagesTableSelection() {
            const totalImgs = document.querySelectorAll('[name="image-table-selection"]').length;
            const selectedImgs = document.querySelectorAll('[name="image-table-selection"]:checked');
            if (selectedImgs.length === 0) {
                document.getElementById('images-multi-selection-delete').disabled = true;
                document.getElementById('images-table-multi-selection-ctl').dataset.multiSelectionMode = 'all';
                return;
            }

            if (selectedImgs.length === totalImgs) {
                document.getElementById('images-table-multi-selection-ctl').dataset.multiSelectionMode = 'none';
            } else {
                document.getElementById('images-table-multi-selection-ctl').dataset.multiSelectionMode = 'some';
            }

            document.getElementById('images-multi-selection-delete').disabled = false;
        }

        function clearImagesTableFilters() {
            document.getElementById('name').value = '';
            document.getElementById('date').value = '';
        }
    });
</script>
}
