package dashboard

import "github.com/vladwithcode/salon_catalog/internal/templates"
import "github.com/vladwithcode/salon_catalog/internal/templates/components"

templ Products() {
	<script src="/static/js/popup.js" defer></script>
	@productsScript()
	@templates.AdminLayout("Productos | Panel Villa Chenacolo", "Administración de Productos") {
		<div class="flex-1 flex flex-col overflow-hidden space-y-4 px-0.5">
			<div class="px-2">
				<div class="flex justify-between gap-4 pb-2">
					<div class="space-y-0.5">
						<h1 class="text-3xl tracking-tight">Productos</h1>
						<p class="text-xs text-current/50">Agrega, modifica y elimina productos de tu catálogo.</p>
					</div>
					<button
						id="products-actions-toggle"
						class="shrink flex items-center justify-center text-current/80 xl:hidden cursor-pointer"
						data-click-handler-selector="products-actions-toggle"
					>
						@components.BarsIcon("w-8", nil)
					</button>
				</div>
				<div id="products-actions-all-modal" class="fixed inset-4 z-50 flex items-center justify-center pointer-events-none">
					<div id="products-actions-all" class="w-full max-w-xl flex flex-col gap-4 bg-gray-50 m-auto px-4 py-2 rounded-lg shadow-xl translate-y-6 opacity-0 pointer-events-none">
						<div class="flex items-start justify-between gap-4 text-dark">
							<h3 class="text-lg font-bold">Todas las acciones para productos</h3>
							<button
								id="products-actions-all-close"
								class="text-dark/60 p-2 cursor-pointer"
								data-click-handler-selector="products-actions-all-close"
							>
								@components.TimesIcon("w-8", nil)
							</button>
						</div>
						<div class="flex-1 basis-full flex flex-col justify-center gap-4 overflow-x">
							<button
								id="products-actions-new"
								hx-get="/panel/productos/modal/nuevo"
								hx-target="#products-modal"
								hx-indicator="#global-loading-indicator"
								class="w-full flex items-center justify-center gap-4 px-4 py-3 text-sm bg-gray-700 text-stone-50 font-medium rounded-lg focus:outline-accent cursor-pointer"
							>
								@components.PlusIcon("w-5", nil)
								Nuevo Producto
							</button>
							@components.MenuSectionSep(components.MenuSectionSepParams{
								Title:          "Códigos QR",
								PillClass:      "text-xs text-neutral/70 bg-gray-50",
								SeparatorClass: "h-px bg-neutral",
							})
							@templ.Fragment("actionsGenerateQrCodes") {
								<button
									id="products-actions-download-qrcodes"
									hx-post="/panel/qrcodes/productos"
									hx-target="body"
									hx-swap="beforeend"
									hx-target-error="#toaster-container"
									class="w-full flex items-center justify-center gap-4 px-4 py-3 text-sm bg-gray-700 text-stone-50 font-medium rounded-lg focus:outline-accent cursor-pointer"
								>
									@components.QrCodeIcon("w-5", nil)
									Generar códigos QR
								</button>
							}
							<a
								id="products-actions-download-qrcodes"
								href="/panel/qrcodes/productos"
								class="w-full flex items-center justify-center gap-4 px-4 py-3 text-sm bg-gray-700 text-stone-50 font-medium rounded-lg focus:outline-accent cursor-pointer"
							>
								@components.QrCodeIcon("w-5", nil)
								Descargar códigos QR
							</a>
							/* <a
								id="products-actions-download-qrcodes"
								href="/panel/qrcodes/productos"
								hx-include="[name='product-table-selection']"
								class="w-full flex items-center justify-center gap-4 px-4 py-3 text-sm bg-gray-700 text-stone-50 font-medium rounded-lg focus:outline-accent cursor-pointer"
								data-products-multi-action="download-qrcodes"
							>
								@components.QrCodeIcon("w-5", nil)
								Descargar códigos QR (selección)
							</a> */
							@components.MenuSectionSep(components.MenuSectionSepParams{
								Title:          "Multiselección",
								PillClass:      "text-xs text-neutral/70 bg-gray-50",
								SeparatorClass: "h-px bg-neutral",
							})
							<button
								id="products-multi-selection-delete"
								data-products-multi-action="delete"
								hx-delete="/panel/productos"
								hx-target="#products-table"
								hx-confirm="¿Eliminar los productos seleccionados?"
								hx-indicator="#products-table-loading"
								hx-include='[name="product-table-selection"]'
								class="w-full flex items-center justify-center gap-4 px-4 py-3 text-sm bg-red-500 text-stone-50 font-medium rounded-lg transition-[background,_filter] duration-300 focus:outline-accent disabled:bg-red-500/80 cursor-pointer disabled:cursor-not-allowed disabled:brightness-80"
								disabled
							>
								@components.BinIcon("w-5", nil)
								Eliminar Selección
							</button>
						</div>
					</div>
				</div>
				<div id="products-actions-container" class="overflow-hidden opacity-0 h-0 xl:h-auto xl:opacity-100" data-products-actions="closed">
					<div class="py-2 border-t border-primary/70">
						<h4 class="text-lg font-medium text-gray-700 mb-2">Acciones</h4>
						<div class="lg:flex gap-4">
							<ul class="basis-1/3 flex flex-col items-center gap-2">
								<li class="w-full">
									<button
										id="products-actions-new"
										hx-get="/panel/productos/modal/nuevo"
										hx-target="#products-modal"
										hx-indicator="#global-loading-indicator"
										class="w-full flex items-center justify-center gap-4 px-4 py-3 text-sm bg-gray-700 text-stone-50 font-medium rounded-lg focus:outline-accent"
									>
										@components.PlusIcon("w-5", nil)
										Nuevo Producto
									</button>
								</li>
								<li class="w-full">
									<button
										id="products-multi-selection-delete"
										data-products-multi-action="delete"
										hx-delete="/panel/productos"
										hx-target="#products-table"
										hx-confirm="¿Eliminar los productos seleccionados?"
										hx-indicator="#products-table-loading"
										hx-include='[name="product-table-selection"]'
										class="w-full flex items-center justify-center gap-4 px-4 py-3 text-sm bg-red-500 text-stone-50 font-medium rounded-lg transition-[background,_filter] duration-300 focus:outline-accent disabled:bg-red-500/80 disabled:cursor-not-allowed disabled:brightness-80"
										disabled
									>
										@components.BinIcon("w-5", nil)
										Eliminar Selección
									</button>
								</li>
								<li class="w-full">
									<button
										id="products-actions-view-all"
										class="w-full px-4 py-2 text-sm"
										data-click-handler-selector="products-actions-view-all"
									>Ver todas</button>
								</li>
								/* <li class="w-full">
									<a
										id="products-actions-download-qrcodes"
										href="/panel/qrcodes/productos"
										class="w-full flex items-center justify-center gap-4 px-4 py-3 text-sm bg-gray-700 text-stone-50 font-medium rounded-lg focus:outline-accent"
									>
										@components.QrCodeIcon("w-5", nil)
										Descargar códigos QR
									</a>
								</li> */
							</ul>
							<form
								hx-get="/panel/productos/table"
								hx-trigger="input changed delay:500ms"
								hx-target="#products-table"
								hx-indicator="#products-table-loading"
								hx-include='[name="sort"], [name="category"]'
								class="shrink grow-0 basis-auto lg:flex-1 pt-2 space-y-1"
							>
								<h3 class="font-light text-gray-700/70">Filtrar Productos</h3>
								<div class="w-full flex items-center gap-0.5">
									<div class="h-full flex-1 basis-full space-y-1">
										<label for="search" class="block text-sm font-medium text-gray-700">Buscar Productos</label>
										<input
											id="search"
											name="search"
											class="block w-full px-4 py-2 border border-gray-200 rounded-xs leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-accent focus:border-accent"
											type="text"
											placeholder="Buscar por nombre o descripción..."
										/>
									</div>
									<div class="h-full flex-1 basis-full space-y-1">
										<label for="category" class="block text-sm font-medium text-gray-700">Buscar por categoría</label>
										<div
											hx-get="/panel/categorias/select"
											hx-swap="outerHTML"
											hx-target="this"
											hx-trigger="load"
											class="hidden"
											id="category-select-container"
										></div>
									</div>
								</div>
								<div class="flex items-center justify-end pt-1">
									<button
										type="button"
										class="text-sm text-gray-700 font-bold tracking-wide"
										hx-get="/panel/productos/table"
										hx-target="#products-table"
										data-click-handler-selector="[data-products-filter-clear]"
										data-products-filter-clear
									>
										Limpiar Filtros
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<main class="relative z-0 flex-1 overflow-hidden">
				<div class="h-full flex flex-col rounded-xs bg-white shadow-sm overflow-auto scroll-smooth pb-11" data-products-table-scroll>
					<div
						class="sticky inset-x-0 top-0 z-20 bg-white flex items-center justify-between gap-3 p-2 border border-gray-100 rounded-sm shadow-sm"
					>
						// Button modes: all, none, some
						<style>
                            [data-multi-selection-mode="all"] [data-multi-selection-mode-display="all"] {
                                opacity: 1;
                            }
                            [data-multi-selection-mode="none"] [data-multi-selection-mode-display="none"] {
                                opacity: 1;
                            }
                            [data-multi-selection-mode="some"] [data-multi-selection-mode-display="some"] {
                                opacity: 1;
                            }
                            [data-multi-selection-mode-display] {
                                transition: opacity 0.1s linear;
                            }
                        </style>
						<button
							id="products-table-multi-selection-ctl"
							type="button"
							class="shrink-0 grow-0 basis-5 aspect-square grid grid-cols-1 grid-rows-1"
							data-click-handler-selector="#products-table-multi-selection-ctl"
							data-multi-selection-mode="all"
						>
							<div
								class="col-start-1 row-start-1 w-full h-full border border-gray-300 rounded-xs"
								data-multi-selection-mode-display="all"
							></div>
							<div
								class="col-start-1 row-start-1 w-full h-full flex items-center justify-center border border-blue-400 bg-blue-500 rounded-xs opacity-0"
								data-multi-selection-mode-display="none"
							>
								@components.CheckIcon("w-full text-gray-50", nil)
							</div>
							<div
								class="col-start-1 row-start-1 w-full h-full flex items-center justify-center border border-blue-400 bg-blue-500 rounded-xs opacity-0"
								data-multi-selection-mode-display="some"
							>
								<div class="w-3/4 h-0.5 bg-stone-50 rounded-xs"></div>
							</div>
						</button>
						<h4 class="flex-1 basis-full text-gray-900">
							Productos
							<span id="products-table-count" hx-swap-oob>(0/0)</span>
						</h4>
						<select
							hx-get="/panel/productos/table"
							hx-trigger="change"
							hx-target="#products-table"
							hx-indicator="#products-table-loading"
							hx-include='[name="search"]'
							name="sort"
							id="sort"
							class="block px-1 py-0.5 border border-gray-200 rounded-xs"
						>
							<option value="name_asc">A-Z &uarr;</option>
							<option value="name_desc">A-Z &darr;</option>
							<option value="category">Categoría</option>
							<option value="newest">Más Recientes</option>
							<option value="oldest">Más Antiguos</option>
						</select>
					</div>
					<div class="flex-1 grid grid-cols-1 grid-rows-1">
						<div class="static h-full col-start-1 row-start-1 pointer-events-none z-10">
							<div
								id="products-table-loading"
								class="h-full max-h-[60vh] bg-white p-8 text-center inset-0 flex flex-col items-center justify-center loading-table-indicator"
							>
								@components.LoadingIcon("h-12 text-primary mx-auto", nil)
								<p class="mt-2 text-gray-500">Cargando productos...</p>
							</div>
						</div>
						<div
							class="static col-start-1 row-start-1 z-0 h-0 opacity-0 -mt-px"
							data-products-table-container="expanded"
						>
							<div
								id="products-table"
								hx-get="/panel/productos/table"
								hx-include='[name="search"], [name="sort"]'
								hx-target-5xx="this"
								hx-target-4xx="this"
								hx-trigger="load"
								hx-indicator="#products-table-loading"
							></div>
						</div>
					</div>
					<div
						class="absolute inset-x-1.5 bottom-1.5 z-20 bg-white border border-gray-100 rounded-sm shadow-sm"
						id="products-table-pagination"
					></div>
				</div>
			</main>
		</div>
		<div id="products-modal-container" class="fixed inset-0 w-screen z-40 flex flex-col justify-center items-center overflow-hidden opacity-0 pointer-events-none">
			<div
				id="products-modal-backdrop"
				class="absolute h-full w-full z-0 bg-dark/30"
				data-products-modal-toggle="close"
				data-click-handler-selector="[data-products-modal-toggle]"
			></div>
			<div
				id="products-modal"
				class="relative w-full p-2 overflow-hidden z-20 translate-y-12 opacity-0"
				data-products-modal="closed"
			></div>
		</div>
		<template id="max-prio-popup">
			<div class="fixed inset-0 z-60 flex items-center justify-center bg-dark/50 p-2" data-max-prio-popup>
				<button
					class="absolute top-0 right-0 z-30 aspect-square rounded-full bg-neutral text-light cursor-pointer rotate-0 scale-100 brightness-100 hover:rotate-90 hover:brightness-105 active:rotate-90 active:scale-95 active:brightness-90 transition-[scale,_rotate,_filter] duration-300"
					data-click-handler-selector="max-prio-popup-close"
				>
					@components.TimesIcon("w-10", nil)
				</button>
				<div
					id="max-prio-popup-content"
					class="w-full bg-light flex flex-col rounded-lg p-1"
				></div>
			</div>
		</template>
		<template id="product-modal-image">
			<img
				class="w-full my-auto object-contain rounded-lg"
				src="placeholder.jpg"
				alt=""
				data-product-modal-image=""
			/>
		</template>
	}
}

templ productsScript() {
	<script>
        document.addEventListener('DOMContentLoaded', function () {
            const TMaxPrioPopup = document.getElementById('max-prio-popup');

            // Register gsap plugins
            gsap.registerPlugin(window.ScrollTrigger);

            const toggleActionsTl = gsap.timeline({paused: true, defaults: {duration: 0.3, ease: 'power2.out'}});
            toggleActionsTl.to('#products-actions-container', {opacity: 1, height: 'auto'});

            const modalTl = gsap.timeline({paused: true, defaults: {duration: 0.5, ease: 'power3.out'}});
            modalTl.set('#products-modal-container', {
                pointerEvents: 'auto',
            }).to('#products-modal-container', {
                opacity: 1,
                duration: 0.2,
            }).to('#products-modal', {
                opacity: 1,
                y: '0rem',
            }, "-=0.1");

            // Disable multiselection actions on load
            document.querySelectorAll('[data-products-multi-action]').forEach(ctl => {
                ctl.setAttribute('disabled', true)
                ctl.style.pointerEvents = 'none';
                ctl.style.cursor = 'not-allowed';
            });

            eventManager
                .register('beforeRequest', '#products-table', function (e) {
                    gsap.set('[data-products-table-container]', { pointerEvents: 'none' });
                    gsap.to(
                        '[data-products-table-container]', 
                        { height: '0rem', opacity: 0, },
                    )
                    gsap.to(
                        '[data-products-table-row]', 
                        { y: '0rem', opacity: 1, stagger: 0.05, },
                        { y: '10rem', opacity: 0, stagger: 0.05, },
                    );
                })
                .register('configRequest', '[data-products-multi-action]', function (e) {
                    const ids = e.detail.parameters.getAll('product-table-selection');
                    for (const id of ids) {
                        e.detail.parameters.append('ids', id);
                    }

                    e.detail.parameters.delete('product-table-selection');
                })
                .register('afterSwap', '#products-table', function (e) {
                    gsap.to(
                        '[data-products-table-container]', 
                        { height: 'auto', opacity: 1, duration: 0.5, ease: 'power2.out' },
                    )
                    gsap.fromTo(
                        '[data-products-table-row]', 
                        { y: '1rem', opacity: 0, duration: 0.3, stagger: 0.05, ease: 'power2.out' },
                        { y: '0rem', opacity: 1 },
                        "<",
                    );
                    gsap.set('[data-products-table-container]', { pointerEvents: 'auto' });

                    // Scroll to top of table
                    const tableScroll = e.detail.target.closest('[data-products-table-scroll]');
                    if (tableScroll) {
                        tableScroll.scrollTo(0, 0);
                    }

                    // Close modal if open
                    const modal = document.getElementById('products-modal');
                    if (modal.dataset.productsModal === 'open') {
                        modalTl.reverse();
                        modal.dataset.productsModal = 'closed';
                    }

                    updateProductsTableSelection();
                })
                .register('afterSwap', '#products-modal', function (e) {
                    if (e.detail.elt.dataset.productsModal === 'closed') {
                        modalTl.play();
                        e.detail.elt.dataset.productsModal = 'open';
                    }

                    // Reset create form if it exists
                    const createForm = document.querySelector('#products-modal form[hx-post]');
                    if (createForm) {
                        createForm.reset();
                    }
                })
                .registerClick('products-actions-toggle', function (e) {
                    const actionsContainer = document.getElementById('products-actions-container')
                    if (actionsContainer.dataset.productsActions === 'open') {
                        toggleActionsTl.reverse();
                        actionsContainer.dataset.productsActions = 'closed';
                    } else {
                        toggleActionsTl.play();
                        actionsContainer.dataset.productsActions = 'open';
                    }
                })
                .registerClick('[data-products-modal-toggle]', function (e) {
                    const target = e.target.matches('[data-products-modal-toggle]')
                        ? e.target
                        : e.target.closest('[data-products-modal-toggle]');
                    const modal = document.getElementById('products-modal');

                    const force = target.dataset.productsModalToggle
                    const shouldClose = (force === 'close') || (!force && modal.dataset.productsModal === 'open');
                    if (shouldClose) {
                        modalTl.reverse();
                        modal.dataset.productsModal = 'closed';
                        gsap.delayedCall(0.3, () => {
                            document.getElementById('products-modal-content')?.remove();
                        });
                    } else {
                        modalTl.play();
                        modal.dataset.productsModal = 'open';
                    }
                })
                .registerClick('[data-products-filter-clear]', function (e) {
                    clearProductsTableFilters();
                })
                .registerClick('#products-table-multi-selection-ctl', function (e) {
                    const target = e.target.matches('[data-multi-selection-mode]')
                        ? e.target
                        : e.target.closest('[data-multi-selection-mode]');

                    const mode = target.dataset.multiSelectionMode;
                    switch (mode) {
                        case 'none':
                            document.querySelectorAll('[name="product-table-selection"]').forEach(function (prod) {
                                prod.checked = false;
                            });
                            updateProductsTableSelection();
                            break;
                        case 'some':
                            document.querySelectorAll('[name="product-table-selection"]:checked').forEach(function (prod) {
                                prod.checked = false;
                            });
                            updateProductsTableSelection();
                            break;
                        case 'all':
                        default:
                            document.querySelectorAll('[name="product-table-selection"]').forEach(function (prod) {
                                prod.checked = true;
                            });
                            updateProductsTableSelection();
                            break;
                    }
                })
                .registerClick('[data-products-modal-tab]', function (e) {
                    const activeBgValues = "54 65 83";
                    const target = e.target.matches('[data-products-modal-tab]')
                        ? e.target
                        : e.target.closest('[data-products-modal-tab]');
                    const tab = target.dataset.productsModalTab;
                    const modal = document.getElementById('products-modal');
                    const form = document.getElementById('products-modal-form');
                    const qrcode = document.getElementById('products-modal-qrcode');
                    const images = document.getElementById('products-modal-images');
                    const tl = gsap.timeline({defaults: {duration: 0.3, ease: 'power2.out'}});

                    let inactiveTabs = [];
                    let activeTab = form;
                    switch (tab) {
                    case 'products-modal-qrcode':
                        inactiveTabs.push(form, images);
                        activeTab = qrcode;
                        break;
                    case 'products-modal-images':
                        inactiveTabs.push(form, qrcode);
                        activeTab = images;
                        break;
                    case 'products-modal-form':
                    default:
                        inactiveTabs.push(qrcode, images);
                        activeTab = form;
                        break;
                    }
                    tl.set(activeTab, {zIndex: 10})
                        .set(inactiveTabs, {zIndex: 0})

                    tl.to(target, {backgroundColor: `rgb(${activeBgValues})`, color: `rgb(240 240 240)`})
                        .to('[data-products-modal-tab]:not([data-products-modal-tab="'+tab+'"])', {backgroundColor: `rgb(${activeBgValues} / 0%)`, color: `rgb(${activeBgValues})`}, "<")
                        .to(activeTab, {opacity: 1, x: '0rem', pointerEvents: 'auto'}, "<")
                        .to(inactiveTabs, {opacity: 0, x: '15rem', pointerEvents: 'none'}, '-=0.1');
                })
                .register('afterSwap', '#product-modal-images-main', function (e) {
                    const selectorModal = document.getElementById('image-selector-modal');
                    if (selectorModal) {
                        gsap.to(selectorModal, {
                            opacity: 0,
                            y: '10rem',
                            pointerEvents: 'none',
                            ease: 'power2.out',
                            duration: 0.5,
                            onComplete: () => {
                                selectorModal.remove();
                            },
                        });
                    }
                })
                .register('afterSwap', '#products-modal-images-gallery', function (e) {
                    const selectorModal = document.getElementById('image-selector-modal');
                    if (selectorModal) {
                        gsap.to(selectorModal, {
                            opacity: 0,
                            y: '10rem',
                            pointerEvents: 'none',
                            ease: 'power2.out',
                            duration: 0.5,
                            onComplete: () => {
                                selectorModal.remove();
                            },
                        });
                    }
                })
                .registerClick('close-images-selector-modal', function (e) {
                    gsap.to('#image-selector-modal',{
                        opacity: 0,
                        y: '2.5rem',
                        pointerEvents: 'none',
                        ease: 'power2.out',
                        duration: 0.5,
                        onComplete: () => {
                            document.getElementById('image-selector-modal')?.remove();
                        },
                    })
                })
                .register('input', '#images-selector-modal-upload-files', function (e) {
                    const preview = document.getElementById('images-selector-modal-upload-preview');
                    const template = document.getElementById('images-selector-modal-upload-preview-item');
                    const inp = e.target;

                    // Clear existing previews
                    preview.querySelectorAll('[data-image-item]').forEach(item => item.remove());

                    if (inp.files.length > 0) {
                        // Show preview container
                        preview.style.opacity = '1';
                        preview.style.pointerEvents = 'auto';

                        // Create preview items for each file
                        for (let f of inp.files) {
                            const url = URL.createObjectURL(f);
                            const clone = template.content.cloneNode(true);
                            const elem = clone.querySelector('[data-image-item]');
                            const img = elem.querySelector('[data-image-item-img]');

                            img.src = url;
                            img.alt = f.name;

                            preview.appendChild(elem);
                        }
                    } else {
                        // Hide preview container when no files
                        preview.style.opacity = '0';
                        preview.style.pointerEvents = 'none';
                    }
                })
                .registerClick('products-actions-all-close', function(e) {
                    gsap.to('#products-actions-all', {
                        opacity: 0,
                        y: '2.5rem',
                        pointerEvents: 'none',
                        ease: 'power2.out',
                        duration: 0.5,
                    });
                })
                .registerClick('products-actions-view-all', function (e) {
                    gsap.to('#products-actions-all', {
                        opacity: 1,
                        y: '0rem',
                        pointerEvents: 'auto',
                        ease: 'power2.in',
                        duration: 0.5,
                    });
                })
                .register('input', '[name="product-table-selection"]', function (e) {
                    updateProductsTableSelection();
                })
                .registerClick('product-modal-images-btn', function (e) {
                    const target = e.target.matches('[data-click-handler-selector]')
                        ? e.target
                        : e.target.closest('[data-click-handler-selector]');
                    const imgPopup = document.getElementById('max-prio-popup').content.cloneNode(true);
                    const imgElem = document.getElementById('product-modal-image').content.cloneNode(true);
                    imgElem.children[0].src = target.querySelector('img').src;
                    const popupContent = imgPopup.querySelector('#max-prio-popup-content');

                    popupContent.appendChild(imgElem.children[0]);
                    document.body.appendChild(imgPopup);

                    gsap.set(popupContent, {
                        opacity: 0,
                        y: '12rem',
                        pointerEvents: 'none',
                    });
                    gsap.to(popupContent, {
                        opacity: 1,
                        y: 0,
                        duration: 0.5,
                        ease: 'power2.in',
                    });
                })
                .registerClick('images-selector-modal-switch-tab', function (e) {
                        const activeBgValues = "55 65 81";
                        const activeTextColor = "249 250 251";
                        const selectedTab = e.target.getAttribute('data-tab');
                        const inactiveTabBtn = document.querySelector('[data-tab]:not([data-tab="'+selectedTab+'"])');
                        const selectTab = document.getElementById('images-selector-modal-select-container');
                        const uploadTab = document.getElementById('images-selector-modal-upload-container');

                        let inactiveTabs = [];
                        let activeTab = selectTab;
                        switch (selectedTab) {
                            case 'select':
                                inactiveTabs.push(uploadTab);
                                activeTab = selectTab;
                                break;
                            case 'upload':
                                inactiveTabs.push(selectTab);
                                activeTab = uploadTab;
                                break;
                            case 'select':
                            default:
                                inactiveTabs.push(uploadTab);
                                activeTab = selectTab;
                                break;
                        }
                        gsap.to(e.target, {
                            backgroundColor: `rgb(${activeBgValues})`,
                            color: `rgb(${activeTextColor})`,
                            ease: 'power2.in',
                            duration: 0.2,
                        });
                        gsap.to(inactiveTabBtn, {
                            backgroundColor: `rgb(${activeBgValues} / 0%)`,
                            color: `rgb(${activeBgValues})`,
                            ease: 'power2.out',
                            duration: 0.2,
                        }, "<")
                        gsap.to(inactiveTabs, {
                            autoAlpha: 0,
                            x: '2.5rem',
                            pointerEvents: 'none',
                            ease: 'power2.out',
                            duration: 0.2,
                        }, "<")
                        gsap.to(activeTab, {
                            autoAlpha: 1,
                            x: '0rem',
                            pointerEvents: 'auto',
                            ease: 'power2.in',
                            duration: 0.5,
                        }, "<");
                })
                .registerClick('max-prio-popup-close', function (e) {
                    gsap.to('[data-max-prio-popup]', {
                        opacity: 0,
                        y: '12rem',
                        pointerEvents: 'none',
                        ease: 'power2.out',
                        duration: 0.5,
                        onComplete: () => {
                            document.querySelector('[data-max-prio-popup]').remove();
                        },
                    });
                });

            function updateProductsTableSelection() {
                const totalProds = document.querySelectorAll('[name="product-table-selection"]').length;
                const selectedProds = document.querySelectorAll('[name="product-table-selection"]:checked');
                const multiSelectionCtls = document.querySelectorAll('[data-products-multi-action]');
                const selectionAsStr = Array.from(selectedProds).map(input => input.value).join(',');

                if (selectedProds.length === 0) {
                    multiSelectionCtls.forEach(ctl => {
                        ctl.setAttribute('disabled', true)
                        ctl.style.pointerEvents = 'none';
                        ctl.style.cursor = 'not-allowed';

                        if (ctl.dataset.productsMultiAction === 'download-qrcodes' && ctl.nodeName === 'A') {
                            let newUrl = new URL(ctl.href);
                            newUrl.searchParams.delete('ids');
                        }
                    });
                    document.getElementById('products-table-multi-selection-ctl').dataset.multiSelectionMode = 'all';
                    return;
                }

                if (selectedProds.length === totalProds) {
                    document.getElementById('products-table-multi-selection-ctl').dataset.multiSelectionMode = 'none';
                } else {
                    document.getElementById('products-table-multi-selection-ctl').dataset.multiSelectionMode = 'some';
                }

                multiSelectionCtls.forEach(ctl => {
                    ctl.removeAttribute('disabled')
                    ctl.style.pointerEvents = 'auto';
                    ctl.style.cursor = 'pointer';

                    if (ctl.dataset.productsMultiAction === 'download-qrcodes' && ctl.nodeName === 'A') {
                        let newUrl = new URL(ctl.href);
                        newUrl.searchParams.set('ids', selectionAsStr);
                        ctl.href = newUrl.toString();
                    }
                });
            }

            function clearProductsTableFilters() {
                document.getElementById('search').value = '';
            }
        });
    </script>
}
