package dashboard

import (
	"github.com/vladwithcode/salon_catalog/internal/db"
	"github.com/vladwithcode/salon_catalog/internal/forms"
	"github.com/vladwithcode/salon_catalog/internal/templates"
)

templ Profile(user *db.User, formState *forms.UserFormState) {
	@profileScript()
	@templates.AdminLayout("Perfil | Panel Villa Chenacolo", "Perfil de Usuario") {
		<div class="flex-1 flex flex-col gap-2 px-0.5 pb-0.5" hx-ext="response-targets">
			<div class="flex-1 gap-4 px-2">
				<h2 class="text-3xl tracking-tight">Perfil</h2>
				<p class="text-sm text-current/50">Revisa y edita tu perfil.</p>
			</div>
			<div class="flex-1 basis-full flex flex-col bg-gray-100 border border-gray-200 rounded-sm shadow-sm max-h-full max-w-2xl lg:basis-fit overflow-hidden px-2">
				<div class="flex-1 py-8 space-y-4">
					<div class="flex items-center justify-center w-48 text-7xl aspect-square rounded-full bg-blue-500 text-light mx-auto">
						{ templates.GetUserInitals(ctx) }
					</div>
				</div>
				<div class="flex-1 basis-full grid grid-cols-1 grid-rows-1">
					<div class="col-start-1 row-start-1 py-2">
						@templ.Fragment("profile-data") {
							<div
								id="profile-data"
								class={
									"space-y-2 h-full lg:flex lg:flex-col",
									templ.KV("-translate-x-48 opacity-0 pointer-events-none", formState.IsSuccessful() || formState.HasErrors()),
								}
							>
								<div class="">
									<p class="text-current/60">Nombre</p>
									<p class="font-medium">{ user.Fullname }</p>
								</div>
								<div class="">
									<p class="text-current/60">Nombre de usuario (Login)</p>
									<p class="font-medium">{ user.Username }</p>
								</div>
								<div class="">
									<p class="text-current/60">Correo electrónico</p>
									<p class="font-medium">{ user.Email }</p>
								</div>
								<div class="">
									<p class="text-current/60">Rol</p>
									<p lass="font-medium">{ RoleToString(user.Role) }</p>
								</div>
								<div class="flex flex-col items-end justify-end gap-2 mt-4 lg:flex-row lg:mt-auto">
									<button
										id="edit-profile-btn"
										data-toggle-edit-form="edit-profile"
										data-click-handler-selector="[data-toggle-edit-form]"
										class="px-4 py-2 bg-gray-700 text-white rounded-lg font-semibold hover:bg-accent/90 transition-colors cursor-pointer"
									>
										Editar mi perfil
									</button>
									<button
										id="edit-pass-btn"
										data-toggle-edit-form="edit-pass"
										data-click-handler-selector="[data-toggle-edit-form]"
										class="px-4 py-2 bg-gray-700 text-white rounded-lg font-semibold hover:bg-accent/90 transition-colors cursor-pointer"
									>
										Cambiar contraseña
									</button>
								</div>
							</div>
						}
					</div>
					<div class="col-start-1 row-start-1 pointer-events-none">
						@templ.Fragment("profile-edit-data-form") {
							<form
								hx-ext="response-targets"
								hx-put="/panel/usuario"
								hx-target="#profile-data"
								hx-target-error="this"
								hx-swap="outerHTML"
								hx-confirm="¿Seguro que deseas actualizar con estos datos?"
								id="edit-profile"
								class={
									"space-y-2 h-full lg:flex lg:flex-col",
									templ.KV(
										"translate-x-48 opacity-0 pointer-events-none",
										!(formState.IsSubmitted() && formState.HasErrors()) || formState.IsSuccessful(),
									),
									templ.KV(
										"pointer-events-auto",
										formState.HasErrors(),
									),
								}
								data-edit-form="profile"
							>
								<div class="">
									<label for="fullname" class="block font-medium text-current">Nombre</label>
									<input
										type="text"
										id="fullname"
										name="fullname"
										class={
											"block w-full px-4 py-2 border rounded-sm",
											formState.GetFieldClass("fullname"),
										}
										value={ formState.GetFieldValue("fullname") }
										required
									/>
									if formState.HasFieldError("fullname") {
										<p class="text-red-500 text-sm" data-input-error-msg>{ formState.GetFieldError("fullname") }</p>
									}
								</div>
								<div class="">
									<label for="username" class="block font-medium text-current">Nombre de usuario (Login)</label>
									<input
										type="text"
										id="username"
										name="username"
										class={
											"block w-full px-4 py-2 rounded-sm border",
											formState.GetFieldClass("username"),
										}
										value={ formState.GetFieldValue("username") }
										required
									/>
									if formState.HasFieldError("username") {
										<p class="text-red-500 text-sm" data-input-error-msg>{ formState.GetFieldError("username") }</p>
									}
								</div>
								<div class="">
									<label for="email" class="block font-medium text-current">Correo electrónico</label>
									<input
										type="email"
										id="email"
										name="email"
										class={
											"block w-full px-4 py-2 rounded-sm border",
											formState.GetFieldClass("email"),
										}
										value={ formState.GetFieldValue("email") }
										required
									/>
									if formState.HasFieldError("email") {
										<p class="text-red-500 text-sm" data-input-error-msg>{ formState.GetFieldError("email") }</p>
									}
								</div>
								<div class="flex items-end justify-end gap-2 mt-4 lg:flex-row lg:mt-auto">
									<button
										data-cancel-user-edit="profile"
										data-click-handler-selector="[data-cancel-user-edit]"
										type="button"
										class="py-2 px-4 bg-red-600 text-white rounded-sm font-bold cursor-pointer hover:bg-accent"
									>Cancelar</button>
									<button type="submit" class="py-2 px-4 bg-gray-700 text-white rounded-sm font-bold cursor-pointer hover:bg-accent">Enviar</button>
								</div>
							</form>
						}
					</div>
					<div class="col-start-1 row-start-1 pointer-events-none">
						@templ.Fragment("profile-edit-pass-form") {
							<form
								hx-ext="response-targets"
								hx-put="/panel/usuario/contrasena"
								hx-target="#profile-data"
								hx-target-500="#edit-pass"
								hx-target-4xx="#edit-pass"
								hx-swap="outerHTML"
								hx-confirm="¿Seguro que deseas cambiar tu contraseña?"
								id="edit-pass"
								class={
									"space-y-2 h-full lg:flex lg:flex-col",
									templ.KV(
										"translate-x-48 opacity-0 pointer-events-none",
										!(formState.IsSubmitted() && formState.HasErrors()) || formState.IsSuccessful(),
									),
									templ.KV(
										"pointer-events-auto",
										formState.HasErrors(),
									),
								}
								data-edit-form="pass"
							>
								<h3 class="text-lg font-bold">Cambiar contraseña</h3>
								<div class="">
									<label for="current_passwd" class="block font-medium text-current">Contraseña actual</label>
									<input
										type="password"
										id="current_passwd"
										name="current_passwd"
										class={
											"block w-full px-4 py-2 border %s",
											formState.GetFieldClass("current_passwd"),
										}
										required
										value={ formState.GetFieldValue("current_passwd") }
									/>
									if formState.HasFieldError("current_passwd") {
										<p class="text-red-500 text-sm" data-input-error-msg>{ formState.GetFieldError("current_passwd") }</p>
									}
								</div>
								<div class="">
									<label for="new_passwd" class="block font-medium text-current">Nueva contraseña</label>
									<input
										type="password"
										id="new_passwd"
										name="new_passwd"
										class={
											"block w-full px-4 py-2 border rounded-sm",
											formState.GetFieldClass("new_passwd"),
										}
										required
										value={ formState.GetFieldValue("new_passwd") }
									/>
									if formState.HasFieldError("new_passwd") {
										<p class="text-red-500 text-sm" data-input-error-msg>{ formState.GetFieldError("new_passwd") }</p>
									}
								</div>
								<div class="">
									<label for="confirm_passwd" class="block font-medium text-current">Confirmar contraseña</label>
									<input
										type="password"
										id="confirm_passwd"
										name="confirm_passwd"
										class={
											"block w-full px-4 py-2 border rounded-sm",
											formState.GetFieldClass("confirm_passwd"),
										}
										required
										value={ formState.GetFieldValue("confirm_passwd") }
									/>
									if formState.HasFieldError("confirm_passwd") {
										<p class="text-red-500 text-sm" data-input-error-msg>{ formState.GetFieldError("confirm_passwd") }</p>
									}
								</div>
								<div class="flex items-end justify-end gap-2 mt-4 lg:flex-row lg:mt-auto">
									<button
										type="button"
										class="py-2 px-4 bg-red-600 text-white rounded-sm font-bold cursor-pointer hover:bg-red-500"
										data-cancel-user-edit="pass"
										data-click-handler-selector="[data-cancel-user-edit]"
									>
										Cancelar
									</button>
									<button
										type="submit"
										class="py-2 px-4 bg-gray-700 text-white rounded-sm font-bold cursor-pointer hover:bg-gray-600"
									>
										Enviar
									</button>
								</div>
							</form>
						}
					</div>
				</div>
			</div>
		</div>
	}
}

templ profileScript() {
	<script>
        const inputBaseStyle = "block w-full px-4 py-2 border rounded-sm border-gray-200 focus:outline-none focus:border-blue-500 focus:ring-blue-500"
        document.addEventListener('DOMContentLoaded', function () {
            eventManager
                .registerClick('[data-toggle-edit-form]', function (e) {
                    const formID = e.target.dataset.toggleEditForm;
                    const form = document.getElementById(formID);
                    const profileData = document.getElementById('profile-data');
                    const tl = gsap.timeline({defaults: {duration: 0.3, ease: 'power2.out'}});

                    gsap.set(form, {pointerEvents: 'auto'});
                    gsap.set(profileData, {pointerEvents: 'none'});
                    tl.to(profileData, {opacity: 0, x: '-12rem'})
                        .to(form, {opacity: 1, x: '0rem'}, '-=0.15');
                })
                .registerClick('[data-cancel-user-edit]', function (e) {
                    const form = e.target.closest('[data-edit-form]');
                    const profileData = document.getElementById('profile-data');
                    const tl = gsap.timeline({defaults: {duration: 0.3, ease: 'power2.out'}});

                    gsap.set(form, {pointerEvents: 'none'});
                    gsap.set(profileData, {pointerEvents: 'auto'});
                    tl.to(form, {opacity: 0, x: '50%'})
                        .to(profileData, {opacity: 1, x: '0rem'}, '-=0.15');
                })
                .register('afterSwap', '#profile-data', function(e) {
                    let reqStatus = e.detail.xhr.status;
                    if (reqStatus !== 200) {
                        return;
                    }
                    e.detail.target.style.pointerEvents = 'auto';
                    const profileData = document.getElementById('profile-data');
                    const triggerForm = e.detail.requestConfig.elt;

                    const tl = gsap.timeline({defaults: {duration: 0.3, ease: 'power2.out'}});
                    tl.to(triggerForm, {opacity: 0, x: '12rem', pointerEvents: 'none'})
                        .to(profileData, {opacity: 1, x: '0rem', pointerEvents: 'auto'}, '-=0.15');

                    if (triggerForm.dataset.editForm === 'pass') {
                        triggerForm.reset();
                    }
                    for (const field of triggerForm.querySelectorAll('input:not(.hidden)')) {
                        field.className = inputBaseStyle;
                    }
                    for (const msgp of triggerForm.querySelectorAll('[data-input-error-msg]')) {
                        msgp.remove();
                    }
                });
        });
    </script>
}

func RoleToString(role string) string {
	switch role {
	case db.RoleAdmin:
		return "Administrador"
	case db.RoleEditor:
		return "Editor"
	case db.RoleUser:
		return "Usuario"
	default:
		return "Usuario"
	}
}
