package components

templ MenuSectionSep(title string) {
	<div class="relative z-0 px-4">
		<div class="absolute z-0 inset-x-0 top-1/2 h-px bg-neutral"></div>
		<p class="relative z-10 w-fit text-xs px-4 text-current/50 bg-gray-50">{ title }</p>
	</div>
}
