package dashboard

templ DashboardHeader(headerTitle string) {
<header class="bg-primary text-secondary rounded-xs shadow-sm shadow-stone-950/15">
    <div class="flex items-center gap-4 overflow-hidden h-12 px-4">
        <button id="header-sidebar-toggle" class="text-current/80 lg:hidden hover:text-gray-700" 
            data-click-handler-selector="sidebar-toggle"
            data-sidebar-toggle>
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </button>
        <h1 class="text-xl font-semibold">
            if headerTitle == "" {
            Panel de Administración
            } else {
            { headerTitle }
            }
        </h1>
    </div>
</header>
}
