package dashboard

templ ImagePreview(imageId, imageSrc, imageName string, removable bool) {
	<div class="relative inline-block w-20 h-20 rounded-md overflow-hidden border border-gray-200 mr-2 mb-2 group">
		<img src={ imageSrc } alt={ imageName } class="w-full h-full object-cover"/>
		<div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 text-white text-xs p-1 truncate">
			{ imageName }
		</div>
		if removable {
			<button
				type="button"
				class="absolute -top-1 -right-1 w-5 h-5 bg-red-500 text-white rounded-full text-xs hover:bg-red-600 opacity-0 group-hover:opacity-100 transition-opacity"
				data-image-id={ imageId }
				onclick="removeImageFromPreview(this.dataset.imageId)"
			>
				×
			</button>
		}
	</div>
}

templ ImagePreviewGrid(images []ImagePreviewData, removable bool) {
	<div class="flex flex-wrap gap-2">
		for _, image := range images {
			@ImagePreview(image.ID, image.Src, image.Name, removable)
		}
	</div>
}

type ImagePreviewData struct {
	ID   string
	Src  string
	Name string
}