package dashboard

import "github.com/vladwithcode/salon_catalog/internal/templates/components"

templ QuickActions() {
<script>
    document.addEventListener('DOMContentLoaded', function () {
        eventManager.registerClick('quick-actions-toggle', (e) => {
            const list = document.getElementById('quick-actions-list');
            const isOpen = list.dataset.quickActionsOpen === 'true';
            const duration = 0.15;

            if (isOpen) {
                gsap.to(list, {
                    height: 0,
                    duration,
                    ease: 'power2.out',
                });
                list.dataset.quickActionsOpen = 'false';
            } else {
                gsap.to(list, {
                    height: 'auto',
                    duration,
                    ease: 'power2.out',
                });
                list.dataset.quickActionsOpen = 'true';
            }
        });
    });
</script>
<div class="px-4 ">
    <button id="quick-actions-toggle" class="flex w-full justify-between py-2 text-primary focus:outline-accent" data-click-handler-selector="quick-actions-toggle">
        <h3 class="text-lg font-semibold text-gray-900">Acciones Rápidas</h3>
        @components.ChevronIcon("w-6", nil)
    </button>
    <div class="h-px border-t border-primary/70 pb-2"></div>
    <div id="quick-actions-list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 overflow-hidden h-0" data-quick-actions-open="false">
        <a href="/panel/productos/nuevo"
            class="flex items-center p-4 border border-gray-200 rounded-lg hover:bg-gray-50 transition-colors">
            <div class="w-10 h-10 bg-blue-100 rounded-lg flex items-center justify-center mr-4">
                /*<svg class="w-5 h-5 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg> */
                @components.PlusIcon("w-5 h-5 text-blue-600", nil)
            </div>
            <div>
                <p class="font-medium text-gray-900">Nuevo producto</p>
                <p class="text-sm text-gray-600">Crear nuevo producto</p>
            </div>
        </a>
        <a href="/panel/asistente/nuevo"
            class="flex items-center p-4 border border-gray-200 rounded-lg hover:bg-gray-50 transition-colors">
            <div class="w-10 h-10 bg-yellow-100 rounded-lg flex items-center justify-center mr-4">
                <svg class="w-5 h-5">
                    <use href="/static/assets/wizard.svg#wizard"></use>
                </svg>
            </div>
            <div>
                <p class="font-medium text-gray-900">Nuevo asistente</p>
                <p class="text-sm text-gray-600">Crear nuevo asistente de planeación</p>
            </div>
        </a>
        <a href="/panel/mensajes"
            class="flex items-center p-4 border border-gray-200 rounded-lg hover:bg-gray-50 transition-colors">
            <div class="w-10 h-10 bg-green-100 rounded-lg flex items-center justify-center mr-4">
                @components.EmailIcon("w-5 h-5 text-green-600", nil)
            </div>
            <div>
                <p class="font-medium text-gray-900">Ver mensajes</p>
                <p class="text-sm text-gray-600">Solicitudes de contacto</p>
            </div>
        </a>
        <a href="/panel/reportes"
            class="flex items-center p-4 border border-gray-200 rounded-lg hover:bg-gray-50 transition-colors">
            <div class="w-10 h-10 bg-purple-100 rounded-lg flex items-center justify-center mr-4">
                @components.GraphIcon("w-5 h-5 text-purple-600", nil)
            </div>
            <div>
                <p class="font-medium text-gray-900">Ver reportes</p>
                <p class="text-sm text-gray-600">Panel de analíticas</p>
            </div>
        </a>
    </div>
</div>
}
